spring:
  profiles:
    active: local
  datasource:
    url: jdbc:mysql://localhost:3306/${database.name}
    username: ${database.username}
    password: ${database.password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        show_sql: true
        globally_quoted_identifiers: true
    defer-datasource-initialization: true
    database: mysql
server:
  port : 8082